@import "tailwindcss";
@import "react-international-phone/style.css";
@import "../styles/phone-overrides.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {--color-primary-50:  #f0fdf4;}
@theme {--color-primary-100: #dcfce7;}
@theme {--color-primary-200: #bbf7d0;}
@theme {--color-primary-300: #86efac;}
@theme {--color-primary-400: #4ade80;}
@theme {--color-primary-500: #009739;}
@theme {--color-primary-600: #008131;}
@theme {--color-primary-700: #006628;}
@theme {--color-primary-800: #004d1f;}
@theme {--color-primary-900: #003315;}
@theme {--color-primary-950: #001a0a;}

@theme {--color-secondary-50:  #fffdea;}
@theme {--color-secondary-100: #fef9c3;}
@theme {--color-secondary-200: #fef08a;}
@theme {--color-secondary-300: #fde047;}
@theme {--color-secondary-400: #facc15;}
@theme {--color-secondary-500: #ffcc29;}
@theme {--color-secondary-600: #e6b800;}
@theme {--color-secondary-700: #cca300;}
@theme {--color-secondary-800: #997a00;}
@theme {--color-secondary-900: #665200;}
@theme {--color-secondary-950: #332900;}

@theme {--color-tertiary-50:  #eff6ff;}
@theme {--color-tertiary-100: #dbeafe;}
@theme {--color-tertiary-200: #bfdbfe;}
@theme {--color-tertiary-300: #93c5fd;}
@theme {--color-tertiary-400: #60a5fa;}
@theme {--color-tertiary-500: #002776;}
@theme {--color-tertiary-600: #001f5e;}
@theme {--color-tertiary-700: #001947;}
@theme {--color-tertiary-800: #00122f;}
@theme {--color-tertiary-900: #000c1a;}
@theme {--color-tertiary-950: #00060d;}

@theme {--color-info-50: #eff6ff;}
@theme {--color-info-100: #dbeafe;}
@theme {--color-info-200: #bfdbfe;}
@theme {--color-info-300: #93c5fd;}
@theme {--color-info-400: #60a5fa;}
@theme {--color-info-500: #3b82f6;}
@theme {--color-info-600: #2563eb;}
@theme {--color-info-700: #1d4ed8;}
@theme {--color-info-800: #1e40af;}
@theme {--color-info-900: #1e3a8a;}
@theme {--color-info-950: #0f172a;}

@theme {--color-success-50: #ecfdf5;}
@theme {--color-success-100: #d1fae5;}
@theme {--color-success-200: #a7f3d0;}
@theme {--color-success-300: #6ee7b7;}
@theme {--color-success-400: #34d399;}
@theme {--color-success-500: #10b981;}
@theme {--color-success-600: #059669;}
@theme {--color-success-700: #047857;}
@theme {--color-success-800: #065f46;}
@theme {--color-success-900: #064e3b;}
@theme {--color-success-950: #022c22;}

@theme {--color-alert-50: #fef3c7;}
@theme {--color-alert-100: #fde68a;}
@theme {--color-alert-200: #fcd34d;}
@theme {--color-alert-300: #fbbf24;}
@theme {--color-alert-400: #f59e0b;}
@theme {--color-alert-500: #d97706;}
@theme {--color-alert-600: #b45309;}
@theme {--color-alert-700: #92400e;}
@theme {--color-alert-800: #78350f;}
@theme {--color-alert-900: #45141d;}
@theme {--color-alert-950: #3b0e14;}

@theme {--color-destructive-50:  #fff1f4;}
@theme {--color-destructive-100: #ffe0e6;}
@theme {--color-destructive-200: #ffb3c0;}
@theme {--color-destructive-300: #ff8096;}
@theme {--color-destructive-400: #ff4d6b;}
@theme {--color-destructive-500: #e60036;}
@theme {--color-destructive-600: #c9002f;}
@theme {--color-destructive-700: #a30026;}
@theme {--color-destructive-800: #7d001d;}
@theme {--color-destructive-900: #520013;}
@theme {--color-destructive-950: #2b0009;}

@theme {
  --color-background: #F6F5F7;  /* light mode */
  --color-foreground: #1F1F1F;  /* light mode */
  --color-bg-card: #ffffff;  /* light mode */
  --color-border-card: #ffffff;  /* light mode */

    --font-primary: "Work Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
               "Segoe UI Emoji", sans-serif;

  /* Secondary font (e.g., for headings) */
  --font-secondary: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
                    Roboto, "Helvetica Neue", Arial, "Noto Sans",
                    "Apple Color Emoji", "Segoe UI Emoji", sans-serif;

}

/* Class override so a `.dark` class wins regardless of system */
:root.dark {
  --color-background: #111111;
  --color-foreground: #FFFEFC;
  --color-bg-card: #222222;
  --color-border-card: #444444;
}


*{
   box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6, button, a {
  font-family: var(--font-secondary);
}

button{
  display: flex;
  cursor: pointer;
}

button:disabled{
  opacity: 0.5;
  cursor: auto;
}


.react-datepicker__current-month,
.react-datepicker__day-name {
  @apply capitalize;
}

@layer utilities {
  .rc-slider-disabled { background-color: var(--color-background) !important;}
}

